# #Queries: Sakila 4/27/23

In [3]:
import pymysql
pymysql.install_as_MySQLdb()

import pandas as pd
from sqlalchemy import create_engine

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [ ]:
FROM
customer AS c
JOIN
address AS a ON c.address_id = a.address_id
JOIN
city ON a.city_id = city.city_id
WHERE
a.city_id = 312;

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [ ]:
SELECT film.title, film.description, film.release_year, film.rating, film.special_features, category.name AS genre
FROM film 
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id 
WHERE category.name = 'Comedy'

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [ ]:
SELECT film.title, actor.last_name, film.release_year
FROM film 
JOIN film_actor ON actor.last_name = film_actor.actor.last_name
WHERE film_actor.actor.last_name= 'Johnny Lollobrigida'

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
SELECT first_name, last_name
FROM actor
WHERE actor_id IN
(
Select actor_id
FROM film_actor
WHERE film_id IN 
(
SELECT film_id
FROM film
WHERE title = 'Bingo Talented'

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [ ]:
SELECT c.customer_id, sum(p.amount) AS `Total Paid`
FROM customer c
JOIN payment p 
ON c.customer_id= p.customer_id
;

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.